table{
    margin: auto;
}

 thead tr th {
    border: 1px solid;
    font-size: 30px;
    font-weight: bold;
    background-color: rgb(223, 221, 89);
    text-align: center;
    color: crimson;
}

 tbody tr td{
    border: 1px solid;
   padding:  10px;
   text-align: center;
   background-color: rgb(216, 123, 10);
   color: rgb(15, 7, 122);

}
h1{
    text-align: center;
}
