.Header2div{
    width: 100%;
    background-color: rosybrown;
}

.animations{
    width: 300px;
    height: auto;
    color: rgb(23, 22, 22);
    position: relative;
   
   animation-name: animahd;
  animation-duration: 5s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
}

 @keyframes animahd{
    from {left:0%;}
    to {left:50%;}
 }

 .logo img{
    margin-left: 0%;
    font-size: 12px !important;
    width: 30px;
 }