/* General styles for the login container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: #f0f4f5; /* Light background color */
    padding: 50px;
  }
  
  .login-form {
    width: 100%;
    max-width: 400px; /* Maximum width of the form */
    background: rgb(112, 110, 110);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 576px) {
    .login-container {
      padding: 10px;
    }
  
    .login-form {
      padding: 15px;
    }
  }
  